.chart-container {
	width: 1000px;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin: 0 auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	margin-top: 50px;
}
