.container {
	width: 1200px;
	margin: 2em auto;
}
.movies-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.switch-container {
	width: 1200px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.switch-btn {
	color: #af0326;
	font-size: 20px;
	font-weight: bold;
	height: 35px;
	background-color: white;
	margin: 0 0px;
	border: 2px solid #af0326;
	width: 150px;
}
.switch-btn:hover {
	cursor: pointer;
}
.selected-btn {
	background-color: #af0326;
	color: white;
}
